html,
body {
  height: 100%;
}

#boxed-wrapper {
  height: 100%;
}
#boxed-wrapper > .fusion-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
#boxed-wrapper > .fusion-wrapper > main {
  flex: 1;
}

html body .fusion-button.button-flat[data-hover=underline] .fusion-button-text {
  padding: 0 8px;
}
html body .fusion-button.button-flat[data-hover=underline] .fusion-button-text::after {
  bottom: -15px;
  border-color: var(--awb-custom_color_5);
}
html body .fusion-button.think-custom-button .button__ornament {
  position: absolute;
}
html body .fusion-button.think-custom-button .button__ornament--vertical {
  top: -0.5em;
  bottom: -0.5em;
  left: 0;
  right: 0;
}
html body .fusion-button.think-custom-button .button__ornament--horizontal {
  left: -0.5em;
  right: -0.5em;
  top: 0;
  bottom: 0;
}
html body .fusion-button.think-custom-button .button__ornament-top-bottom, html body .fusion-button.think-custom-button .button__ornament-left-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
html body .fusion-button.think-custom-button .button__ornament-top-bottom:before, html body .fusion-button.think-custom-button .button__ornament-top-bottom:after, html body .fusion-button.think-custom-button .button__ornament-left-right:before, html body .fusion-button.think-custom-button .button__ornament-left-right:after {
  content: "";
  position: absolute;
  background-color: #e0c351;
  transition: transform 400ms cubic-bezier(0.54, 0.06, 0.39, 0.96);
}
html body .fusion-button.think-custom-button .button__ornament-top-bottom:before, html body .fusion-button.think-custom-button .button__ornament-top-bottom:after {
  height: 1px;
  left: 0;
  right: 0;
}
html body .fusion-button.think-custom-button .button__ornament-top-bottom:before {
  top: 0;
}
html body .fusion-button.think-custom-button .button__ornament-top-bottom:after {
  bottom: 0;
}
html body .fusion-button.think-custom-button .button__ornament-left-right:before, html body .fusion-button.think-custom-button .button__ornament-left-right:after {
  width: 1px;
  top: 0;
  bottom: 0;
}
html body .fusion-button.think-custom-button .button__ornament-left-right:before {
  left: 0;
}
html body .fusion-button.think-custom-button .button__ornament-left-right:after {
  right: 0;
}
html body .fusion-button.think-custom-button:hover .button__ornament-left-right:before, html body .fusion-button.think-custom-button:hover .button__ornament-left-right:after, html body .fusion-button.think-custom-button:focus .button__ornament-left-right:before, html body .fusion-button.think-custom-button:focus .button__ornament-left-right:after {
  transform: scale(1, 0);
}
html body .fusion-button.think-custom-button:hover .button__ornament-top-bottom:before, html body .fusion-button.think-custom-button:hover .button__ornament-top-bottom:after, html body .fusion-button.think-custom-button:focus .button__ornament-top-bottom:before, html body .fusion-button.think-custom-button:focus .button__ornament-top-bottom:after {
  transform: scale(0, 1);
}
html body .fusion-button.think-custom-button {
  background-color: unset;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  padding: 0.5em;
  box-shadow: inset 0 0 0 1px #e0c351 !important;
  text-align: center;
  border-radius: 0;
}
html body .fusion-button.think-custom-button .fusion-button-text {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #000;
  padding: 0.5rem 2rem;
  transition: color 500ms ease, background-color 500ms ease;
}
html body .fusion-button.think-custom-button:hover .fusion-button-text, html body .fusion-button.think-custom-button:focus .fusion-button-text {
  color: #000;
  background-color: rgba(224, 195, 81, 0.9);
}
html body .fusion-button.think-custom-button.has-white-bg-color {
  box-shadow: inset 0 0 0 1px #ffffff !important;
}
html body .fusion-button.think-custom-button.has-white-bg-color .fusion-button-text {
  color: black;
}
html body .fusion-button.think-custom-button.has-white-bg-color .button__ornament-top-bottom:before, html body .fusion-button.think-custom-button.has-white-bg-color .button__ornament-top-bottom:after, html body .fusion-button.think-custom-button.has-white-bg-color .button__ornament-left-right:before, html body .fusion-button.think-custom-button.has-white-bg-color .button__ornament-left-right:after {
  background-color: #ffffff;
}
html body .fusion-button.think-custom-button.has-white-bg-color:hover .fusion-button-text, html body .fusion-button.think-custom-button.has-white-bg-color:focus .fusion-button-text {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}

.cb6-interior-banner > .fusion-builder-row > .fusion-layout-column:first-child:before, .cb6-interior-banner > .fusion-builder-row > .fusion-layout-column:first-child:after,
.cb6b-interior-banner-with-two-images > .fusion-builder-row > .fusion-layout-column:first-child:before,
.cb6b-interior-banner-with-two-images > .fusion-builder-row > .fusion-layout-column:first-child:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--awb-custom_color_5);
  background: rgb(219, 180, 44);
}
.cb6-interior-banner > .fusion-builder-row > .fusion-layout-column:first-child::before,
.cb6b-interior-banner-with-two-images > .fusion-builder-row > .fusion-layout-column:first-child::before {
  width: 2px;
  height: 120%;
  background: linear-gradient(0deg, rgb(219, 180, 44) 0%, rgba(255, 255, 255, 0) 95%);
}
.cb6-interior-banner > .fusion-builder-row > .fusion-layout-column:first-child::after,
.cb6b-interior-banner-with-two-images > .fusion-builder-row > .fusion-layout-column:first-child::after {
  background: linear-gradient(90deg, rgb(219, 180, 44) 0%, rgba(255, 255, 255, 0) 90%);
  width: 120%;
  height: 2px;
}
.cb6-interior-banner .fusion-image-element:nth-child(2) .fusion-imageframe,
.cb6b-interior-banner-with-two-images .fusion-image-element:nth-child(2) .fusion-imageframe {
  padding: 1rem;
}
@media screen and (min-width: 801px) {
  div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
  }
  div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes::after, div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes::before {
    display: none;
  }
}
div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column[style*="--awb-backgroundcolor:var(--awb-color7);"] {
  --awb-title-color: var(--awb-custom_color_1);
  --awb-body-color: var(--awb-custom_color_1);
  --awb-hover-accent-color: var(--awb-custom_color_1);
}
div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column[style*="--awb-backgroundcolor:var(--awb-color8);"], div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column[style*="--awb-backgroundcolor:var(--awb-custom_color_1);"] {
  --awb-title-color: var(--awb-color7);
  --awb-body-color: var(--awb-color7);
  --awb-hover-accent-color: var(--awb-color7);
}
div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column .content-box-heading {
  margin-top: 72px;
  border-top: 1px solid var(--awb-title-color);
  padding: 1rem 0;
}
div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column .content-box-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  overflow: hidden !important;
}
div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column .content-box-wrapper > * {
  transition: all 0.3s ease;
}
div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column .content-box-wrapper .content-container {
  margin-bottom: 0;
}
@media screen and (min-width: 801px) {
  div.fusion-fullwidth.cb13-3-column-hover .fusion-content-boxes.content-boxes .content-box-column:not(.visible) .content-box-wrapper > * {
    transform: translateY(var(--slide-by-height));
  }
}

html body .fusion-tb-header .fusion-builder-row .think-custom-button .fusion-button-text {
  padding: 0.5em;
}
