//
//
//
.fusion-post-cards {
	@include media(">medium") {
		.fusion-grid-posts-cards {
			padding: 20px 80px;
		}
	}
	@include media("<=medium") {
		.fusion-grid-posts-cards {
			padding: 20px;
		}
	}
}

//
//
//
.post-card {
	//
	@include postCardOnHover();
	//
	.fusion-title {
		&[style*="--awb-font-size:14px"] {
			margin: 8px 0;
			.fusion-title-heading {
				&:before {
					content: "\25aa";
					display: inline-block;
					vertical-align: middle;
					margin-top: -3px;
					margin-right: 1rem;
					font-size: 18px;
				}
			}
		}
	}
}
