//
//
//

@media screen and (max-width: 1200px) {
	
	.fusion-grid {
		margin-top: 100px !important;
	}

	div:has(> ul.fusion-filters) {
		display: block;
		position: absolute;
		top: 10px;
		left: 20px;
		right: 20px;
		z-index: 4;

		ul {
			margin-bottom: 0;
		}

		form.wpc-filter-search-form {
			left: 10px;
			right: 10px !important;
			top: 70px !important;
			.wpc-search-field-wrapper {
				border: 2px solid var(--awb-custom_color_5);
				
			}
		}
	}
}

.fusion-post-cards {
	> div:has(> ul.fusion-filters) {
		display: flex;
		border-bottom: 2px solid var(--awb-custom_color_5);


		ul.fusion-filters {
			border: none;
			margin: 0;
			padding-left: 80px;
			flex-wrap: nowrap;
			//
			//
			li.fusion-filter {
				text-wrap: nowrap;

			}
		}

		.wpc-edit-filter-set,
		.wpc-filter-header {
			display: none;
		}

		form.wpc-filter-search-form {
			position: absolute;
			right: 0;
			top: 0;
		}		

		.wpc-search-field-wrapper {
			padding: 0px 80px;
			border-left: 2px solid var(--awb-custom_color_5);

			.wpc-search-icon {
				$icon-size: 25px;
				width: $icon-size;
				left: 50px;

				&:before {
					background-image: url('../../_assets/img/icon_search.svg');
					background-size: $icon-size;
					width: $icon-size;
					height: $icon-size;
				}
			}

			input {
				border: none;
				border-radius: 0;
				background: none;

				&:focus { border: none; }
			
			}	
		}
	}
}
