//
//
//
.fusion-builder-placeholder,
.fusion-post-cards {
	border: 2px solid var(--awb-custom_color_5);
	border-bottom: transparent;
	@include gradientBorder(before, 90deg, 45%, 2px);
	// rewrote to have grad reverse direction and right: 0
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 45%;
		height: 2px;
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(219, 180, 44, 1) 95%
		);
	}

	ul.fusion-filters {
		margin-top: 0;
		padding-left: 80px;
		flex-wrap: nowrap;
		//
		//
		li.fusion-filter {
			text-wrap: nowrap;
		}
	}
}

//
//
//
.pagination {
	justify-content: center;
	color: var(--awb-color6);
	margin-bottom: -15px;
	* {
		color: inherit;
	}

	.current {
		background-color: unset;
		border-color: unset;
		color: black;
		border: unset;
		font-weight: bold;
	}
	.pagination-prev,
	.pagination-next {
		.page-text {
			display: none;
		}
	}
	.pagination-prev {
		&:before {
			content: "";
			width: 15px;
			height: 13px;
			background-repeat: no-repeat;
			background-size: contain;
			margin-top: -5px;
			margin-left: -15px;
			background-image: url(../../_assets/img/arrow-black-short.svg);
			transform: scaleX(-1);
		}
	}
	.pagination-next {
		&:after {
			content: "";
			width: 15px;
			height: 13px;
			background-repeat: no-repeat;
			background-size: contain;
			margin-right: -15px;
			background-image: url(../../_assets/img/arrow-black-short.svg);
		}
	}
}

.fusion-builder-placeholder,
.fusion-builder-placeholder:hover {
	margin: 0;
	background: none;
	color: var(--awb-color6);
}
