/* Team Member Pages */
.team-member-template-default h1.entry-title {
	display: none;
}

.team-member-template-default .post {
	margin-bottom: 0px;
}

.team-member-template-default aside#sidebar {
	display: none;
}

.team-member-template-default .fusion-meta-info {
	display: none;
}

.team-member-template-default
	.fusion-fullwidth.fullwidth-box.fusion-builder-row-2.nonhundred-percent-fullwidth.non-hundred-percent-height-scrolling {
	padding-top: 100px !important;
}

.team-member-template-default section#content {
	width: 100% !important;
}

.team-member-template-default .fusion-row {
	max-width: 100% !important;
}

.team-member-template-default main#main {
	padding: 0px;
}

.team-member-template-default
	.fusion-fullwidth.fullwidth-box.fusion-builder-row-3.nonhundred-percent-fullwidth.non-hundred-percent-height-scrolling {
	margin: 100px auto !important;
}
c
	.team-member-template-default
	.fusion-fullwidth.fullwidth-box.fusion-builder-row-3.nonhundred-percent-fullwidth.non-hundred-percent-height-scrolling,
.team-member-template-default
	.fusion-fullwidth.fullwidth-box.fusion-builder-row-2.nonhundred-percent-fullwidth.non-hundred-percent-height-scrolling {
	max-width: 1100px;
	margin: 0px auto;
}

.team-member-template-default .fusion-builder-row.fusion-row {
	max-width: 1100px !important;
}

.team-member-template-default
	.fusion-fullwidth.fullwidth-box.fusion-builder-row-4.borders-gray.nonhundred-percent-fullwidth.non-hundred-percent-height-scrolling {
	padding-bottom: 100px !important;
}

.team-member-template-default
	.fusion-column-wrapper.fusion-flex-column-wrapper-legacy {
	max-width: 1100px;
	margin: 0 auto;
}

.team-member-template-default
	.fusion-title.title.fusion-title-5.sep-underline.sep-solid.fusion-title-text.fusion-title-size-one.fusion-border-below-title {
	padding-top: 100px !important;
}

.team-member-template-default
	.fusion-layout-column.fusion_builder_column.fusion-builder-column-6.fusion_builder_column_1_1.\31
	_1.fusion-one-full.fusion-column-first.fusion-column-last {
	max-width: 1100px;
	margin: 50px auto 20px !important;
}

div#wpv-view-layout-25410 span.cp-load-after-post {
	display: none;
}

// span.team-member-name {
// 	display: block;
// 	color: #2e6ab3;
// 	text-transform: uppercase;
// 	font-size: 12px;
// 	font-weight: 700;
// 	letter-spacing: 1px;
// 	border-bottom: 1px solid #e7e6e6;
// 	padding: 20px 0px 10px;
// }

// .searchrow {
// 	border: 1px solid #dcdcdc;
// 	padding: 50px;
// 	margin-bottom: 50px;
// }

span.role {
	color: #333333;
	font-style: italic;
	padding: 10px 0px;
	display: block;
}

div#wpv-view-layout-25410 {
	display: grid;
	margin-top: 10px;
	grid-gap: 50px;
	grid-template-columns: repeat(4, 1fr);
}

.team-view div.js-wpv-view-layout {
	display: grid;
	margin-top: 10px;
	grid-gap: 50px;
	grid-template-columns: repeat(4, 1fr);
}

.team-view div.js-wpv-view-layout span.cp-load-after-post {
	display: none;
}

@media screen and (max-width: 782px) {
	div#wpv-view-layout-25410 {
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}

	.team-view div.js-wpv-view-layout {
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}

	.team-img {
		height: 150px;
	}
}

@media screen and (max-width: 500px) {
	.searchrow {
		padding: 20px;
	}

	input.wpv-reset-trigger.js-wpv-reset-trigger.btn {
		height: auto !important;
		padding: 7px 23px !important;
		font-size: 11px !important;
	}

	.clearfilters {
		float: none !important;
		position: relative !important;
		margin-top: 10px;
	}
}

li.page-item {
	display: inline;
	margin: 0px 20px;
}

ul.teampagination {
	margin: 0px !important;
	padding: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

ul.teampagination {
	margin: 0px !important;
	padding: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	position: absolute;
	right: 0;
	margin-bottom: 50px;
	display: inline-block;
	list-style: none;
}

div#wpv-view-layout-25410 {
	margin-bottom: 50px;
}

.toppagination {
	text-align: right;
	margin-top: 30px;
}

div#wpv-view-layout-25410 .team-member:hover {
	opacity: 0.8;
}

select.js-wpv-filter-trigger.form-control {
	color: #333;
	padding: 16px;
	height: auto;
}

@media only screen and (max-width: 800px) {
	.team-member-template-default
		.fusion-layout-column.fusion_builder_column.fusion-builder-column-6.fusion_builder_column_1_1.\31
		_1.fusion-one-full.fusion-column-first.fusion-column-last {
		padding: 0px 50px;
	}

	.team-member-template-default
		.fusion-column-wrapper.fusion-flex-column-wrapper-legacy {
		padding: 0px 50px !important;
	}
}

/* Email Toggle */

.email-toggle .panel-heading {
	padding: 15px 25px;
}

.email-toggle.fusion-accordian .panel-heading .panel-title a {
	padding: 0px;
}

.email-toggle .panel-body.toggle-content.fusion-clearfix {
	padding: 15px 25px;
}

.accordian.fusion-accordian.email-toggle {
	border: 1px solid #ccc;
}

.email-toggle.fusion-accordian .fusion-panel {
	border-bottom: 0px !important;
}

.email-toggle .panel-heading:hover {
	background: #f9f9f9;
}

.email-toggle.accordian.fusion-accordian.email-toggle:hover {
	background: #f9f9f9;
}

/* End Email Toggle */

.widget_media_image {
	max-width: 300px;
}

/*.fusion-sliding-bar-toggle-rectangle .fusion-sb-toggle {
    display: none!important;
}*/

/* applies to GIF and PNG images; avoids blurry edges */
#wrapper img {
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering: crisp-edges !important;
	-ms-interpolation-mode: nearest-neighbor !important; /* IE (non-standard property) */
}

.fusion-main-menu .sub-menu {
	border: 1px solid #dddddd;
}

.fusion-blog-shortcode .post {
	margin-bottom: 0px !important;
}

.button-small,
.fusion-button-small {
	font-size: 13px !important;
	text-transform: none !important;
	background: #fff !important;
	letter-spacing: 0px !important;
	/*color: #bbbbbb!important;*/
	font-weight: 300 !important;
}

.fusion-button-small:hover {
	color: #2e6ab3 !important;
}

.button-small:hover {
	color: #2e6ab3 !important;
}

.homepage-service-button {
	margin-bottom: 10px !important;
	font-size: 12px !important;
	text-align: left !important;
}

.fork-in-road {
	background-color: #c8b275 !important;
	font-size: 38px !important;
	line-height: 1.4em !important;
	font-family: "Cormorant Garamond" !important;
	text-transform: none !important;
	padding: 100px 0px 100px 0px !important;
	letter-spacing: 0px !important;
	font-weight: 400 !important;
}

.fork-in-road:hover {
	background-color: #152b75 !important;
	font-size: 38px !important;
	line-height: 1.4em !important;
	font-family: "Cormorant Garamond" !important;
	text-transform: none !important;
	padding: 100px 0px 100px 0px !important;
	letter-spacing: 0px !important;
	font-weight: 400 !important;
}

.button-xlarge i {
	top: 46% !important;
}

.borders-gray {
	border-top: 1px solid #dddddd;
}

.fusion-checklist,
ul.fusion-checklist {
	margin: 0px !important;
}

.page-title-shadow {
	text-shadow: 2px 2px 10px #000;
}

.page-title-shadow-light {
	text-shadow: 2px 2px 10px #666;
}

@media only screen and (max-width: 800px) {
	.fusion-sticky-header-wrapper {
		height: 123px !important;
	}
}

.fusion-widget-area-1 .widget .heading h4 {
	letter-spacing: 2px !important;
	color: #152b75 !important;
	text-transform: uppercase !important;
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 1.5em !important;
}
.fusion-content-sep {
	border-bottom: 0px !important;
}

.fusion-load-more-button.fusion-blog-button {
	color: #fff;
	background-color: #2e6ab3;
	letter-spacing: 2px;
	font-size: 12px;
}

.fusion-load-more-button.fusion-blog-button:hover {
	color: #fff;
	background-color: #152b75;
	letter-spacing: 2px;
	font-size: 12px;
}

#wrapper .fusion-tabs-widget .tab-holder .tabs li a,
.fusion-accordian .panel-heading a,
.fusion-accordian .panel-title,
.fusion-carousel-title,
.fusion-content-widget-area h4,
.fusion-flip-boxes .fusion-flip-box .flip-box-heading-back,
.fusion-image-wrapper
	.fusion-rollover
	.fusion-rollover-content
	.fusion-rollover-title,
.fusion-image-wrapper
	.fusion-rollover
	.fusion-rollover-content
	.fusion-rollover-title
	a,
.fusion-megamenu-title,
.fusion-modal h4,
.fusion-person .person-desc .person-author .person-author-wrapper,
.fusion-tabs .nav-tabs li .fusion-tab-heading,
.popover .popover-title {
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.5em !important;
}

h3 {
	text-transform: uppercase !important;
}

.fusion-carousel-title {
	font-size: 12px !important;
}

.fusion-sharing-box h4 {
	letter-spacing: 2px !important;
	color: #bbb !important;
	text-transform: uppercase !important;
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 1.5em !important;
}

.fusion-placeholder-image {
	background-image: url("http://havstaging.wpengine.com/wp-content/uploads/2017/06/HAV-Placeholder.png") !important;
}

.fusion-tabs .nav-tabs li .fusion-tab-heading {
	font-size: 12px !important;
}

.fusion-tabs .nav-tabs > .active > .tab-link {
	border: 0px !important;
}

.fusion-blog-layout-large .entry-title {
	margin-bottom: 5px !important;
}

.fusion-blog-layout-large .fusion-post-slideshow {
	margin-bottom: 15px !important;
}

h2.entry-title.fusion-post-title {
	font-size: 38px !important;
	line-height: 1.4em !important;
}

.fusion-widget-area h2 {
	line-height: 0.5em !important;
	margin-bottom: 10px !important;
}

.bio-headshot {
	margin-bottom: 20px;
}

.fusion-tabs .tab-pane {
	padding: 50px 30px 30px 30px !important;
}

.icon-title {
	padding-top: 30px !important;
}

.searchform .search-table .search-button input[type="submit"] {
	background: #c8b275 !important;
}

.searchform .search-table .search-button input[type="submit"]:hover {
	background: #152b75 !important;
}

.page-title-shadow-gray {
	text-shadow: 2px 2px 10px #bbb;
}

.page-title-shadow-white {
	text-shadow: 4px 4px 10px #ffffff !important;
}

.fusion-sb-toggle:after {
	font-family: "Font Awesome 5 Free" !important;
	content: "\f0e0" !important;
}

.rc-anchor-normal {
	display: block !important;
	width: 240px !important;
}

.contact-slide {
	width: 240px !important;
}

#contact-slide {
	width: 240px !important;
}

.rc-anchor-content {
	width: 150px !important;
}

.g-recaptcha {
	transform: scale(0.8);
	transform-origin: 0 0;
}

div.asl_m .probox .proinput {
	padding-left: 0px !important;
	margin-left: 0px !important;
}

#ajaxsearchlite1 .probox .proinput input,
div.asl_w .probox .proinput input {
	background: #ffffff !important;
}

#ajaxsearchlite1 .probox,
div.asl_w .probox {
	background: #ffffff !important;
}

div.asp_m.ajaxsearchpro .probox .proinput {
	padding-left: 6px !important;
	margin-left: 0px !important;
}

.fusion-accordian .panel-heading a {
	font-size: 12px !important;
	color: #c8b275 !important;
}

/*
.fusion-sliding-bar-position-left .fusion-sliding-bar {
    width: 400px!important;
}

#ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
    background: rgba(255,255,255,0)!important;
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
    background: rgba(255,255,255,0)!important;
}
*/

/* Lightbox social share hider */
.ilightbox-social {
	display: none !important;
}
