.podcast-tabs .tab-link {
	padding: 5px 30px 0px 0px !important;
}

.podcast-tabs .tab-pane {
	padding: 0px !important;
}

.podcast-tabs .nav-tabs .active .fusion-tab-heading {
	border-bottom: 3px solid #bc8c48;
}

.podcast-tabs .nav {
	border-bottom: 1px solid #626c76 !important;
}

.podcast-tabs .nav-tabs .active .tab-link {
	background-color: transparent !important;
}
