//
//
//

body.page-id-45277 {
	.fusion-imageframe {
		display: block;
	}
}

.timeline_wrapper {
	.item-description_text {
		h3 {
			font-family: "Inter";
			letter-spacing: 2px;
			font-size: 16px;
			text-transform: uppercase;
			color: var(--awb-color8);
			line-height: 1.5;
			font-weight: 600;
		}
	}
}
