body.single.avada_portfolio-template-default #content {
  //
  //? BIO CONTACT FORM - ACCORDION //?

  .accordian.email-toggle {
    .panel-title {
      font-size: 24px;
    }

    .fusion-panel {
      --awb-content-color: var(--awb-color6);
      --form_text_color: var(--awb-color6);
      --awb-toggle-hover-accent-color: var(--awb-custom_color_5);
      --awb-toggle-active-accent-color: var(--awb-custom_color_5);
      //
    }
  }
  //? BIO CONTACT FORM - FORM STYLING //?
  //******
  //* CONTACT FORM 7
  //******
  .accordian.email-toggle .wpcf7 {
    //? NET NEW STYLING //?

    button[type="submit"].think-custom-button {
      @include buttonOrnamentStyles();
      background: unset !important;
      background-color: unset !important;
      height: auto;
      position: relative;
      text-decoration: none;
      padding: $button--ornament-offset * -1;
      box-shadow: inset 0 0 0 1px $button--color-1 !important; // simulating inset border
      // min-width: 340px;
      text-align: center;
      border-radius: 0;
      //
      //

      .fusion-button-text {
        min-width: 140px;
        // text-transform: uppercase;
        // font-weight: 300;
        // letter-spacing: 0.4em;
        font-size: 1em !important;
        display: block !important;
        width: 100% !important;
        background-color: transparent !important;
        color: $button--color-2 !important;
        padding: 1.5em 2em !important;
        padding: 0.5rem 2rem !important;
        transition:
          color 500ms ease,
          background-color 500ms ease !important;
      }

      &:hover,
      &:focus &:active {
        background: none;

        .fusion-button-text {
          color: $button--color-2;
          background-color: rgba($button--color-1, 0.9);
        }
      }

      &:focus:after {
        border: none;
      }
    }

    //?
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      background-color: transparent;
      border: 1px solid var(--awb-custom_color_5);
      border-radius: 0;
      width: 100%;
      padding: 0.5rem 1rem;
      font-family: inherit;

      &::placeholder {
        color: var(--wpforms-field-text-color);
        opacity: 0.7;
      }
      &:hover {
        border-color: #5a4600;
        box-shadow: none;
      }

      &:focus {
        border-color: var(--awb-custom_color_1);
        outline: none;
        box-shadow: none;
      }
    }

    textarea {
      resize: vertical;
    }

    .wpcf7-form-control-wrap {
      display: block;
      margin-bottom: 1.5rem;
      margin-top: 1em;
    }

    .wpcf7-response-output {
      background: var(--awb-color7);
      border: 1px solid var(--awb-color8);
      padding: 1em;
      font-size: 0.9rem;
    }

    .wpcf7-not-valid-tip,
    .wpcf7-form-control.wpcf7-acceptance .wpcf7-list-item-label {
      color: var(--awb-color8);
    }

    label {
      font-weight: 400;
      display: block;
      margin-bottom: 0.5rem;
    }
    .disclaimer {
      font-size: 0.8rem;
    }
    //?

    --button_gradient_top_color: var(--awb-color8);
    --button_gradient_top_color_hover: var(--awb-custom_color_1);
    --button_border_hover_color: var(--awb-custom_color_1);
    --form_border_radius: 0;
    --form_bg_color: var(--awb-color-3);
    --form_border_color: var(--awb-color5);
    //
    // .wpcf7-submit {
    //   width: 100%;
    //   padding: 8px 16px;
    //   border-radius: 0;
    //   color: var(--awb-color1);
    //   @extend %h7_small_caps;
    // }
  }
  //*
  //******
  //* WPFORMS
  //******
  div.wpforms-container-full
    .wpforms-submit-container
    button[type="submit"].think-custom-button {
    @include buttonOrnamentStyles();
    background: unset !important;
    background-color: unset !important;
    height: auto;
    position: relative;
    text-decoration: none;
    padding: $button--ornament-offset * -1;
    box-shadow: inset 0 0 0 1px $button--color-1 !important; // simulating inset border
    // min-width: 340px;
    text-align: center;
    border-radius: 0;
    //
    //

    .fusion-button-text {
      min-width: 140px;
      // text-transform: uppercase;
      // font-weight: 300;
      // letter-spacing: 0.4em;
      font-size: 1em;
      display: block;
      width: 100%;
      background-color: transparent;
      color: $button--color-2;
      padding: 1.5em 2em;
      padding: 0.5rem 2rem;
      transition:
        color 500ms ease,
        background-color 500ms ease;
    }

    &:hover,
    &:focus &:active {
      background: none;

      .fusion-button-text {
        color: $button--color-2;
        background-color: rgba($button--color-1, 0.9);
      }
    }

    &:focus:after {
      border: none;
    }
  }

  div.email-toggle {
    form.fusion-form .fusion-fullwidth,
    .wpforms-container-full {
      margin: 0;
      padding: 0;

      &.wpforms-container {
        .wpforms-form {
          .choices__inner,
          .choices__list,
          .choices_list {
            border: 0;
          }
        }
        .wpforms-confirmation-container {
          background: var(--awb-color7);
          border: 1px solid var(--awb-color8);
        }
      }

      .fusion-form-field,
      .wpforms-field {
        input,
        select,
        textarea {
          background-color: transparent;
          border: 1px solid var(--awb-custom_color_5);
          border-radius: 0;

          &:hover {
            border: 1px solid #5a4600;
            box-shadow: none;
          }

          &:focus {
            border: 1px solid var(--awb-custom_color_1);
            box-shadow: none;
          }
        }

        .wpforms-error,
        .wpforms-required-label {
          color: var(--awb-color8);

          &:before {
            background-color: var(--awb-color8);
          }
        }
      }
    }
  }
}

.fusion-post-cards {
  .service-provided {
    .service-provided {
      a {
        color: var(--body_typography-color);
      }
    }
  }
}

.fusion-post-cards,
body.single.avada_portfolio-template-default #content {
  .services-provided {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    a {
      padding: 6px 4px;
      background-color: var(--wp--preset--color--awb-color-4);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      pointer-events: none;
      text-decoration: none;
      color: var(--body_typography-color);
    }
  }

  .team-member-more-info {
    .fusion-checklist {
      .icon-wrapper {
        display: none;
      }
      .fusion-li-item-content {
        margin-inline-start: unset;
      }
    }
  }
}
