// 
// 
// 
.cb1-hero-banner .cb1-gallery {
	z-index: 1;
	&:hover {
		z-index: 1;
	}
	//
	@include media(">medium") {
		margin-top: -120px;
		margin-bottom: -120px;
	}
	@include media("<=medium") {
		margin-top: 60px;
		margin-bottom: -60px;
	}
	@include media("<=small") {
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: -30px !important;
		margin-right: -30px !important;
		width: calc(100% + 60px);
	}

	.fusion-column-wrapper {
		margin: 0;
	}

	.fusion-imageframe {
		width: 100%;
		max-width: unset;
		img {
			width: 100%;
		}
	}

	//
	// ? 1st column of images
	//
	.fusion-builder-row > .fusion-layout-column:first-child {
		// 1st image
		.fusion-image-element:first-child {
			@include media(">small") {
				text-align: right;
				.fusion-imageframe {
					width: 80%;
				}
			}
		}
		// 2nd image
		.fusion-image-element:last-child {
			.fusion-imageframe {
				margin-top: -10%;
				position: relative;
				width: 150%;
				left: -100%;
				z-index: 2;
			}
			@include media("<=small") {
				.fusion-imageframe {
					margin-top: 60px;
					width: 120%;
					left: 0;
				}
			}
		}
	}
	//
	// ? 2nd column of images
	//
	.fusion-builder-row > .fusion-layout-column:last-child {
		// 1st image
		.fusion-image-element:first-child {
			.fusion-imageframe {
				margin-top: -10%;
				img {
					padding-left: 10%;
					padding-bottom: 10%;
				}
			}
		}
		// 2nd image
		.fusion-image-element:last-child {
			.fusion-imageframe {
				width: calc(100% + 20%);
				left: -20%;
				img {
					padding-right: 10%;
					padding-bottom: 10%;
				}
			}
			@include media("<=small") {
				.fusion-imageframe {
					width: 100%;
					left: 0%;
					img {
						padding-right: 10%;
						padding-bottom: 10%;
					}
				}
			}
		}
	}
}
