@import "~rfs/scss";
$rfs-breakpoint: 1366px;
$rfs-factor: 80;
:root {
  //
  //	?	for tablet/desktop we are using RFS scaling for font sizes
  //
  // @include media(">small") {
  //
  @include rfs(120px !important, --h1_typography-font-size);
  // @include rfs(195px !important, --h1_typography-font-size);
  //
  @include rfs(96px !important, --h2_typography-font-size);
  // @include rfs(120px !important, --h2_typography-font-size);
  //
  @include rfs(72px !important, --h3_typography-font-size);
  // @include rfs(96px !important, --h3_typography-font-size);
  //
  @include rfs(64px !important, --h4_typography-font-size);
  // @include rfs(80px !important, --h4_typography-font-size);
  //
  @include rfs(48px !important, --h5_typography-font-size);
  // @include rfs(64px !important, --h5_typography-font-size);
  //
  @include rfs(36px !important, --h6_typography-font-size);
  // @include rfs(48px !important, --h6_typography-font-size);
  // }

  //
  // 	?	for mobile, we are using a strict font size for each heading
  //
  // @include media("<=small") {
  // 	// --h1_typography-font-size: 64px !important;
  // 	--h1_typography-font-size: 56px !important;
  // 	--h2_typography-font-size: 48px !important;
  // 	--h3_typography-font-size: 40px !important;
  // 	--h4_typography-font-size: 32px !important;
  // 	--h5_typography-font-size: 24px !important;
  // 	--h6_typography-font-size: 18px !important;
  // }
}
//
// ?	when an element has a custom font size applied it won't scale.
// ?	here we adjust a few commonly used manually applied font sizes to scale on all screen sizes
//

//	custom font value
//
//? About Page Timeline Year
*[style*="--awb-font-size: 63px;"],
*[style*="--awb-font-size:63px;"] {
  @include rfs(63px !important, font-size);

  @include media("<=small") {
    font-size: 52px !important;
  }
}
//? About Page Timeline Heading
*[style*="--awb-font-size: 48px;"],
*[style*="--awb-font-size:48px;"] {
  @include rfs(48px !important, font-size);
}
//	custom font value
//
*[style*="--h3_typography-font-size:48px;"] {
  @include rfs(48px !important, --h3_typography-font-size);
  line-height: 1.15 !important;
}
//	custom font value
//
//? --h6 override was not scaling, so also set this onto the font-size declaration
//? For some reason not all use cases have a space in the style declaration...
*[style*="--awb-font-size: 32px;"],
*[style*="--awb-font-size:32px;"] {
  @include rfs(32px !important, --h6_typography-font-size);
  @include rfs(32px !important, font-size);
}
//
*[style*="--awb-font-size: 24px;"],
*[style*="--awb-font-size:24px;"] {
  @include rfs(24px !important, --awb-font-size);
  // @include rfs(20px !important, --awb-font-size);
  // @include media("<=small") {
  //   --awb-font-size: 16px !important;
  // }
}
//	custom font value
//
*[style*="--awb-font-size:20px;"] {
  @include rfs(20px !important, --awb-font-size);
  @include media("<=small") {
    --awb-font-size: 16px !important;
  }
}
//	avada accordion element `
// `
.fusion-body .fusion-accordian .panel-title {
  @include rfs(36px !important, --awb-title-font-size);
  line-height: 1.15 !important;
}

//
// ?	here we adjust things for posts because they imported with all kinds of heading sizes that are way too big.
// ?	we'll just drop everything to the mobile values, but also RFS scale them.
//
body.single .post-content {
  @include rfs(64px !important, --h1_typography-font-size);
  @include rfs(48px !important, --h2_typography-font-size);
  @include rfs(40px !important, --h3_typography-font-size);
  @include rfs(32px !important, --h4_typography-font-size);
  @include rfs(24px !important, --h5_typography-font-size);
  @include rfs(18px !important, --h6_typography-font-size);
}
