html body {
	div.fusion-fullwidth.cb14-about {
		//
		.fusion-image-element img {
			outline: 1px solid var(--awb-custom_color_5);
			outline-offset: -20px;
		}
	}
	//? for all CB14's except the Our Leadership page
	&:not(.page-id-505) {
		.fusion-image-element img {
			outline: 1px solid var(--awb-custom_color_5);
			outline-offset: -20px;
			max-width: 480px; //* adding within Avada CMS actually adds "width", not "max-width"

			@include media("<=medium") {
				max-height: 380px;
				max-width: unset;
			}
		}
	}
}
