//
//  Styled to account for forms built using WP Forms and built-in Avada
//  tools using the Fusion classes.
//
html body {
  //
  //	Styling for WPForms elements
  //
  div.wpforms-container-full
    .wpforms-submit-container
    button[type="submit"].think-custom-button {
    @include buttonOrnamentStyles();
    background: unset !important;
    background-color: unset !important;
    height: auto;
    position: relative;
    text-decoration: none;
    padding: $button--ornament-offset * -1;
    box-shadow: inset 0 0 0 1px $button--color-1 !important; // simulating inset border
    // min-width: 340px;
    text-align: center;
    border-radius: 0;
    //
    //

    .fusion-button-text {
      min-width: 140px;
      // text-transform: uppercase;
      // font-weight: 300;
      // letter-spacing: 0.4em;
      font-size: 1em;
      display: block;
      width: 100%;
      background-color: transparent;
      color: $button--color-2;
      padding: 1.5em 2em;
      padding: 0.5rem 2rem;
      transition:
        color 500ms ease,
        background-color 500ms ease;
    }

    &:hover,
    &:focus &:active {
      background: none;

      .fusion-button-text {
        color: $button--color-2;
        background-color: rgba($button--color-1, 0.9);
      }
    }

    &:focus:after {
      border: none;
    }
  }

  div.fusion-fullwidth.cb18-form {
    form.fusion-form .fusion-fullwidth,
    .wpforms-container-full {
      margin: 0;
      padding: 0;

      &.wpforms-container {
        .wpforms-form {
          .choices__inner,
          .choices__list,
          .choices_list {
            border: 0;
          }
        }
        .wpforms-confirmation-container {
          background: var(--awb-color7);
          border: 1px solid var(--awb-color8);
        }
      }

      .fusion-form-field,
      .wpforms-field {
        input,
        select,
        textarea,
        .choices {
          background-color: transparent;
          border: 1px solid var(--awb-custom_color_5);
          border-radius: 0;

          &:hover {
            border: 1px solid #5a4600;
            box-shadow: none;
          }

          &:focus {
            border: 1px solid var(--awb-custom_color_1);
            box-shadow: none;
          }

          .choices__inner {
            background-color: transparent;
          }
        }

        .choices.is-open,
        .choices.is-focused,
        .choices__inner {
          border: none;

          .choices__list.choices__list--dropdown,
          .choices__inner {
            border: none;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

            .choices__item.is-highlighted {
              background-color: var(--awb-custom_color_1);
              color: var(--awb-color1);
            }
          }
        }

        input[type="radio"] {
          // input[type="checkbox"] {
          border: none;

          &:before {
            background-color: transparent;
          }

          &:before,
          &:after,
          &:checked:before {
            border: 1px solid var(--awb-custom_color_5);
            border-radius: 0;
            box-shadow: none;
          }

          &:checked:after {
            border-radius: 0;
            background-color: var(--awb-custom_color_5);
            transform: scale(0.5);
          }
        }

        input[type="checkbox"] {
          &:checked:after {
            //? ALT. USE SQUARE FOR CHECKBOX
            // width: var(--wpforms-field-size-checkbox-size);
            // height: var(--wpforms-field-size-checkbox-size);
            // left: calc(-3px + var(--wpforms-field-border-size, 1px));
            // top: calc(-3px + var(--wpforms-field-border-size, 1px));
          }
        }
        //? USE RADIO STYLES FOR CHECKBOX, BUT KEEP THE CHECK
        input[type="checkbox"] {
          border: none;

          &:before {
            background-color: transparent;
          }

          &:before,
          &:checked:before {
            border: 1px solid var(--awb-custom_color_5);
            border-radius: 0;
            box-shadow: none;
          }
          &:after {
            border-color: var(--awb-custom_color_5);
          }
        }
        //
        .wpforms-error,
        .wpforms-required-label {
          color: var(--awb-color8);

          &:before {
            background-color: var(--awb-color8);
          }
        }
      }

      .wpforms-field-radio {
        @media screen and (min-width: 601px) {
          fieldset {
            display: flex;
            flex-flow: row nowrap;
          }

          legend {
            float: left;
          }

          ul {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
