//
//
//
.cb2-two-column-feature {
  position: relative;
  &:before {
    @include geoPattern(top, 0px, left, 0px, 80px, 100%);
  }

  @include media("<mobile") {
    &:before {
      width: 90%;
      height: 60px;
      transform: translateY(-50%);
    }
  }

  .title {
    display: flex !important;
    align-items: flex-end !important;
  }
}

// comment test //
