// 
// 
// 
.cb11-related-posts {
    p.fusion-title-heading {
		&[style*="text-transform:uppercase;--fontSize:14;"] {
			&:before {
				content: "\25aa";
				display: inline-block;
				vertical-align: middle;
				margin-right: 1rem;
				font-size: 18px;
			}
		}
	}

	p:only-child {
		margin-bottom: 0;
	}
}