//
//
//
.cb8-post-grid {
	.post-card {
		@include postCardOnHover();
		.fusion-imageframe {
			@include insetImageFrame();
		}
	}
}
//
//  ? this is sloppy, and it needs refactoring once we bring in filter everything pro
//
.cb8-post-grid {
	//
	//
	.fusion-post-cards {
		border: 2px solid var(--awb-custom_color_5);
		//
		//
		> div {
			//
			//
			.fusion-filters {
				margin-top: 0;
				padding: 0 80px;
				//
				//
				.fusion-filter {
				}
			}
		}

		.fusion-grid-posts-cards {
			padding: 20px 80px;
		}

		//
		//  square icon left of category term
		//
		.fb-icon-element {
			line-height: 16px !important;
		}
	}

	.pagination {
		justify-content: center;
		color: var(--awb-color6);
		* {
			color: inherit;
		}

		.current {
			background-color: unset;
			border-color: unset;
			color: black;
			border: unset;
			font-weight: bold;
		}
		.pagination-prev,
		.pagination-next {
			.page-text {
				display: none;
			}
		}
	}
}
