//
// 	? Hey, check it out!
//	TODO: yada, yada
//
.cb6-interior-banner {
	//
	@include gradientBorder();
	@include gradientBorder(after, 90deg, 55%, 2px);
	&::after,
	&::before {
		left: 30px;
		bottom: 20%;
		@include media("<small"){
			
			bottom: 60px;

		}
	}



	// * the avada image element container
	.fusion-image-element {
		//
		// *  the second image has special styles
		//
		&:nth-child(2) {
			// * this wrapper has the border for the image, and handles aspect ratio if applied
			.fusion-imageframe {
				max-width: 40vw;
				padding: 1rem;
			}
		}
	}
}