//
//
//	* this code block adjusts the container layout and adds in borders and ornaments
//
//
div.cb1-hero-banner {
	// border-top: 2px solid var(--awb-custom_color_5); // todo: replace this with an ornament!
	// pad and tuck the hero 'under' the header
	padding-top: 200px;
	margin-top: -150px;
	// remove negative margins that make this full width (lets borders connect at the top l/r corners)
	margin-left: unset !important;
	margin-right: unset !important;

	// gradient border from top left down
	@include gradientBorder(before, 180deg, 2px, 100%);
	&::before {
		bottom: auto;
		top: 0;
		left: -15px;
	}
	// gradient border from top right down
	@include gradientBorder(after, 180deg, 2px, 100%);
	&::after {
		left: auto;
		bottom: auto;
		top: 0;
		right: -15px;
	}
}
//
//
//
.cb1-hero-banner {
	> .fusion-builder-row {
		> .fusion-layout-column {
			&:not(.cb1-gallery) {
				z-index: 2;
			}
		}
	}
}

.cb1-hero-banner .cb1-gallery {
	z-index: 1;
	&:hover {
		z-index: 1;
	}
	//
	@include media(">medium") {
		margin-top: -120px;
		margin-bottom: -120px;
	}
	@include media("<=medium") {
		margin-top: 60px;
		margin-bottom: -60px;
	}
	@include media("<=small") {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.fusion-column-wrapper {
		margin: 0;
	}

	.fusion-imageframe {
		width: 100%;
		max-width: unset;
		img {
			width: 100%;
		}
	}

	//
	// ? 1st column of images
	//
	.fusion-builder-row > .fusion-layout-column:first-child {
		// 1st image
		.fusion-image-element:first-child {
			@include media(">small") {
				text-align: right;
				.fusion-imageframe {
					width: 80%;
				}
			}
		}
		// 2nd image
		.fusion-image-element:last-child {
			.fusion-imageframe {
				margin-top: -10%;
				position: relative;
				width: 150%;
				left: -100%;
				z-index: 2;
			}
			@include media("<=small") {
				.fusion-imageframe {
					margin-top: 60px;
					width: 120%;
					left: 0;
				}
			}
		}
	}
	//
	// ? 2nd column of images
	//
	.fusion-builder-row > .fusion-layout-column:last-child {
		// 1st image
		.fusion-image-element:first-child {
			.fusion-imageframe {
				margin-top: -10%;
				img {
					padding-left: 10%;
					padding-bottom: 10%;
				}
			}
		}
		// 2nd image
		.fusion-image-element:last-child {
			.fusion-imageframe {
				width: calc(100% + 20%);
				left: -20%;
				img {
					padding-right: 10%;
					padding-bottom: 10%;
				}
			}
			@include media("<=small") {
				.fusion-imageframe {
					width: 100%;
					left: 0%;
					img {
						padding-right: 10%;
						padding-bottom: 10%;
					}
				}
			}
		}
	}
}

// 	//
// 	// 	*	this code block adjusts the 'gallery' for desktop
// 	//
// 	@include media(">medium") {
// 		div.cb1-gallery {
// 			margin-bottom: -120px; // ? this is a hacky way to reduce the extra space on the bottom created by moving the gallery items up
// 			margin-bottom: -25%;
// 			.fusion-layout-column {

// 				.fusion-imageframe {
// 					&, img {
// 						width: 100%;
// 					}
// 				}

// 				&:nth-of-type(1) {
// 					// Top Left
// 					.fusion-image-element:nth-of-type(1) {
// 						transform: translate(-20px, -160px);
// 					}
// 					// Bottom Left
// 					.fusion-image-element:nth-of-type(2) {
// 						z-index: 1;
// 						transform: translate(-85%, -120px) scale(1.5);
// 					}
// 				}
// 				&:nth-of-type(2) {
// 					// Top Right
// 					.fusion-image-element:nth-of-type(1) {
// 						transform: translate(0px, -200px) scale(0.9);
// 					}
// 					// Bottom Right
// 					.fusion-image-element:nth-of-type(2) {
// 						z-index: 1;
// 						transform: translate(-72px, -250px);
// 					}
// 				}
// 			}
// 		}
// 	}

// 	//
// 	// 	*	this code block adjusts the 'gallery' for tablet
// 	//
// 	@include media("<=medium" and ">small") {
// 		div.cb1-gallery {
// 			margin-bottom: -120px; // ? this is a hacky way to reduce the extra space on the bottom created by moving the gallery items up
// 			margin-bottom: -25%;

// 			.fusion-layout-column {

// 				.fusion-imageframe {
// 					&, img {
// 						width: 100%;
// 					}
// 				}

// 				&:nth-of-type(1) {
// 					// Top Left
// 					.fusion-image-element:nth-of-type(1) {
// 						transform: translate(0px, -60px);
// 					}
// 					// Bottom Left
// 					.fusion-image-element:nth-of-type(2) {
// 						z-index: 1;
// 						transform: translate(-50%, -20px) scale(1.5);
// 					}
// 				}
// 				&:nth-of-type(2) {
// 					// Top Right
// 					.fusion-image-element:nth-of-type(1) {
// 						transform: translate(20px, -100px) scale(0.9);
// 					}
// 					// Bottom Right
// 					.fusion-image-element:nth-of-type(2) {
// 						z-index: 1;
// 						transform: translate(-20px, -150px);
// 					}
// 				}
// 			}
// 		}
// 	}

// 	//
// 	// 	*	this code block adjusts the 'gallery' for mobile
// 	//
// 	@include media("<=small") {
// 		div.cb1-gallery {
// 			margin: 100px -15% -180px -15% !important;
// 			width: 100vw;

// 			.fusion-row {
// 				flex-wrap: nowrap !important;

// 				.fusion-layout-column {
// 					--awb-width-small: 50% !important;

// 					&:nth-of-type(1) {
// 						// Top Left
// 						.fusion-image-element:nth-of-type(1) {
// 							transform: translate(20px, -50px);
// 						}
// 						// Bottom Left
// 						.fusion-image-element:nth-of-type(2) {
// 							z-index: 2;
// 							transform: translate(0% 50px) scale(1.4);
// 						}
// 					}
// 					&:nth-of-type(2) {
// 						// Top Right
// 						.fusion-image-element:nth-of-type(1) {
// 							transform: translate(5px, -80px) scale(0.8);
// 						}
// 						// Bottom Right
// 						.fusion-image-element:nth-of-type(2) {
// 							z-index: 1;
// 							transform: translate(-15%, -80px) scale(0.8);
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
