//
//
//
.cb2-two-column-feature {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 80px;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(../../_assets/img/gold-geometric-pattern.svg);
	}
}
