//
// ?    container with custom class
//
div.fusion-fullwidth.cb13-3-column-hover {
	//
	// ?    element to adjust
	//
	.fusion-content-boxes.content-boxes {
		// ?    some adjustments for the layout, no options are available in the CMS
		@media screen and (min-width: 801px) {
			display: flex;
			flex-flow: row nowrap;
			gap: 32px;
			&::after,
			&::before {
				display: none;
			}
		}

		//
		// ?   each content box item (to become a sort of hoverToggle)
		//
		.content-box-column {
			//
			// ?    adjust colors for each item depending on the background color set in the CMS
			//
			&[style*="--awb-backgroundcolor:var(--awb-color7);"] {
				--awb-title-color: var(--awb-custom_color_1);
				--awb-body-color: var(--awb-custom_color_1);
				--awb-hover-accent-color: var(--awb-custom_color_1);
			}
			&[style*="--awb-backgroundcolor:var(--awb-color8);"],
			&[style*="--awb-backgroundcolor:var(--awb-custom_color_1);"] {
				--awb-title-color: var(--awb-color7);
				--awb-body-color: var(--awb-color7);
				--awb-hover-accent-color: var(--awb-color7);
			}
			//
			//
			//
			.content-box-heading {
				margin-top: 72px;
				border-top: 1px solid var(--awb-title-color);
				padding: 1rem 0;
			}

            .content-box-wrapper {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                //
                //
                //
                .content-container {
                    display: none;
                    margin-bottom: 0;
                }
            }

			//
			//
			//
			&.visible {
			}
			&:not(.visible) {
                // 
			}
		}
	}
}
