html body {

    div.fusion-fullwidth.cb3-featured-stats {
        padding: 20px;

        .cb3-wrapper-outer {
            padding: 15px;
            border: 1px solid #dbb52c38;
            border-bottom: transparent;
            position: relative;
            
            .cb3-wrapper-inner {
                border: 1px solid var(--awb-custom_color_5);
                border-bottom: transparent;
                position: relative;
                padding: 60px;

                .cb3-wrapper-outer-left,
                .cb3-wrapper-outer-right,
                .cb3-wrapper-inner-left,
                .cb3-wrapper-inner-right {
                    flex: 0 1 45%;
                    border-bottom: 1px solid var(--awb-custom_color_5);
                }
                .cb3-wrapper-outer-bottom,
                .cb3-wrapper-inner-bottom {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .cb3-wrapper-outer-left,
            .cb3-wrapper-outer-right {
                flex: 0 1 45%;
                border-bottom: 1px solid #dbb52c38;
            }
            .cb3-wrapper-outer-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        .cb3-H-icon {
            border: 1px solid var(--awb-custom_color_5);
            padding: 3px;
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 10px;
        
            p {
                margin: 0;
                color: var(--awb-custom_color_5);
                text-align: center;
                font-size: 3rem;
                font-family: var(--awb-typography1-font-family);
                line-height: 3rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .fusion-flex-content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}