html body {

    div.fusion-fullwidth.cb4-image-3-callouts {
        
        .fusion-column-wrapper:has(> .fusion-image-element) {
            background-image: url(../../geometric-pattern.svg);
            background-position: top 200px right -20%;
            background-repeat: no-repeat;

            .fusion-image-element {

                img {
                    width: 80%;
                    float: right;
                }
            }
        }
    }
}