$button--color-1: #e0c351;
$button--color-2: #000;
$button--ornament-offset: -0.5em;
html,
body {
	height: 100%;
}
#boxed-wrapper {
	height: 100%;
	> .fusion-wrapper {
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		> main {
			flex: 1;
		}
	}
}
@import './_lib/include-media';
$breakpoints: (
  'small' : 640px,
  'mobile' : 800px,
  'medium' : 1200px,
);
@import './mixins';
@import './site-header';
@import './custom-buttons';
@import './cb-1';
@import './cb-2';
@import './cb-3';
@import './cb-4';
@import './cb-5';
@import "./cb-6";
@import './cb-7';
@import './cb-8';
@import './cb-11';
@import './cb-12';
@import "./cb-13";
@import './cb-14';
@import './cb-18';
@import './touchups';