@use "sass:math";
@import "./_lib/include-media";
@import "./vars";
@import "./mixins";
@import "./base-typography";
@import "./custom-buttons";
@import "./site-header";
@import "./cb-1";
@import "./cb-2";
@import "./cb-3";
@import "./cb-4";
@import "./cb-5";
@import "./cb-6";
@import "./cb-7";
@import "./cb-8/";
@import "./cb-9";
@import "./cb-11";
@import "./cb-12";
@import "./cb-13";
@import "./cb-14";
@import "./cb-16";
@import "./cb-18";
@import "./cb-19";
@import "./touchups";
//
//
//
@import "./pages";

.ornament-test {
  @include ornamentContainerStyles();

  position: relative;
  background-color: unset;
  border-radius: 0;
  padding: calc($button--ornament-offset * -1);
  box-shadow: inset 0 0 0 1px $button--color-1;
  overflow: visible;

  .fusion-column-wrapper {
    transition: background-color 500ms ease;
  }

  &:hover .fusion-column-wrapper {
    background-color: rgba($button--color-1, 0.05); // optional hover bg effect
  }
}
